body {
  position: 'relative';
}

// Adopted from: https://codemyui.com/pure-css-fullscreen-navigation-menu/
label.FullscreenMenu {
  position: fixed;
  z-index: 999;
  width: 100vw;

  .hamburgerButton {
    position: absolute;
    right: 0;
    top: 0;
    z-index: 100;
    width: 70px;
    height: 65px;
    background: #fff;
    box-shadow: 0 0 0 0 #fff, 0 0 0 0 #fff;
    cursor: pointer;
  }

  .hamburgerIcon {
    position: absolute;
    right: 20px;
    top: 30px;
    width: 30px;
    height: 2px;
    background: #000;
    display: block;
    transform-origin: center;
    transition: 0.2s ease-in-out;
    &:after,
    &:before {
      transition: 0.2s ease-in-out;
      content: '';
      position: absolute;
      display: block;
      width: 100%;
      height: 100%;
      background: #000;
    }
    &:before {
      top: -10px;
    }
    &:after {
      bottom: -10px;
    }
  }

  input {
    display: none;
  }

  input:checked + .hamburgerButton {
    box-shadow: 0 0 0 100vw #fff, 0 0 0 100vh #fff;
    border-radius: 0;
    .hamburgerIcon {
      transform: rotate(45deg);
      &:after {
        transform: rotate(90deg);
        bottom: 0;
      }
      &:before {
        transform: rotate(90deg);
        top: 0;
      }
    }
  }

  input:checked + .hamburgerButton + .menuItems {
    display: block;
  }

  .menuItems {
    z-index: 200;
    position: absolute;
    // Magic numbers that position the menus in the center.
    top: 20vh;
    left: 40vw;
    display: none;
    text-align: center;
    width: auto;
    height: auto;
  }

  a {
    margin-bottom: 1em;
    display: block;
    color: #000;
    text-decoration: none;
  }
}
